{% extends 'base.html.twig' %}

{% block title %}Edit Adopt{% endblock %}

{% block body %}
    <h1>Edit Adopt</h1>

    {{ include('adopt/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_adopt_index') }}">back to list</a>

    {{ include('adopt/_delete_form.html.twig') }}
{% endblock %}
