{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<h1 class="text-center d-md-none mt-3">Bienvenue au Refuge <br>
des ourang-outans de Bornéo 
<br>Sauvetage et Réhabilitation des 
<br>Orang-Outans Orphelins</h1>

<h1 class="text-center d-none d-md-block mt-3">Bienvenue au Refuge des ourang-outans de Bornéo 
<br>Sauvetage et Réhabilitation des 
<br>Orang-Outans Orphelins</h1>

<div class="d-flex justify-content-center">
<img src="/build/images/REFUGE DES OURANG-OUTANS DE BORNEO.2dd4df03.png" alt="logo du refuge des orang-outans" class="logo my-5">
</div>
{% endblock %}
