{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<h1 class="text-center d-md-none p-3">Bienvenue au Refuge
		<br>
		des ourang-outans de Bornéo
		<br>Sauvetage et Réhabilitation des
		<br>Orang-Outans Orphelins</h1>

	<h1 class="text-center d-none d-md-block p-3">Bienvenue au Refuge des ourang-outans de Bornéo
		<br>Sauvetage et Réhabilitation des
		<br>Orang-Outans Orphelins</h1>

	<div class="d-flex justify-content-center">
		<img src="/build/images/REFUGE DES OURANG-OUTANS DE BORNEO.2dd4df03.png" alt="logo du refuge des orang-outans" class="logo my-4">
	</div>

	<h2 class="text-center">Notre action</h2>
	<p class="text-center mx-2">
		Parce que chaque petit être a le droit de grandir entouré d'amour et de sécurité,le refuge des orang-outans de Bornéo s'engage passionnément à sauver et à réhabiliter les bébés orangs-outans orphelins, victimes du déchirement causé par la perte de leurs parents.</P>
	<p class="text-center mx-2">Notre mission commence avec la récupération délicate de ces précieux bébés, souvent trouvés seuls et vulnérables après que leurs parents aient été tragiquement tués. Une fois accueillis au sein de notre refuge, ces adorables petits primates sont confiés à des mamans humaines dévouées, expertes dans l'art de prodiguer les soins nécessaires et de les élever avec tendresse.</P>
	<p class="text-center mx-2">Nos mamans humaines, formées spécifiquement pour cette tâche, imitent les comportements maternels des orangs-outans, enseignant aux petits orphelins les compétences essentielles pour survivre dans leur habitat naturel. Ils apprennent à se déplacer habilement dans les arbres, à se nourrir des fruits et des plantes locales, et à communiquer avec les autres membres de leur espèce.</P>
	<p class="text-center mx-2">Le processus de réhabilitation vise avant tout à respecter l'intégrité de chaque individu. Les orangs-outans qui démontrent une aptitude à vivre de manière indépendante sont préparés avec soin pour la réintroduction dans leur milieu naturel. Nous travaillons en étroite collaboration avec des experts en écologie et des vétérinaires spécialisés pour garantir une transition en douceur et réussie.</P>
	<p class="text-center mx-2">Cependant, pour certains de nos protégés qui, en raison de circonstances particulières, ne peuvent pas être réintroduits, notre refuge offre un environnement sûr et stimulant. Ces orangs-outans trouvent un foyer durable au sein de notre communauté, où ils continuent à bénéficier d'un amour inconditionnel, de soins attentifs et de vastes enclos permettant une vie aussi proche de la nature que possible.</P>
	<p class="text-center mx-2">Le refuge des orang-outans de Bornéo s'efforce non seulement de réhabiliter ces créatures fascinantes, mais aussi de sensibiliser le public à la nécessité cruciale de préserver leurs habitats naturels et de lutter contre la déforestation. Ensemble, avec votre soutien, nous œuvrons pour un avenir où les orangs-outans prospèrent librement dans les majestueuses forêts qui sont leur droit de naissance.</P>
</p>


<div class="d-flex justify-content-center mb-3">
	<a href="#" type="button" class="mx-auto button-cta" tabindex="-1" role="button" aria-disabled="true">Rejoignez-nous</a>
</div>

<p class="text-center mx-2">"Découvrez le quotidien extraordinaire de nos adorables pensionnaires en vous inscrivant pour recevoir des mises à jour exclusives !<p>
<p class="text-center mx-2"> Votre soutien financier, que ce soit par une donation unique ou en parrainant l'un de nos orangs-outans, contribuera à assurer leur bien-être, à financer leur réhabilitation, et à construire un avenir plus lumineux pour ces précieuses créatures.</p>
<p class="text-center mx-2">Rejoignez-nous dans notre mission et faites la différence dès aujourd'hui !"</P>
{% endblock %}
