{% extends 'base.html.twig' %}

{% block title %}Modifier un pensionnaire{% endblock %}

{% block body %}
	<div class="d-flex justify-content-evenly align-items-center">
		<h1 class="text-center my-5">Modifier un pensionnaire</h1>
		<img src="/build/images/REFUGE DES OURANG-OUTANS DE BORNEO.2dd4df03.png" alt="logo du refuge des orang-outans" class="petit-logo my-4">
	</div>

    {{ include('orang_outan/_form.html.twig', {'button_label': 'Update'}) }}

	<div class="d-flex justify-content-center mt-3">
		<a type="button" class="button-cta2 mt-3" href="{{ path('app_orang_outan_index') }}">retour à la liste de nos pensionnaires</a>
	</div>

    {{ include('orang_outan/_delete_form.html.twig') }}
{% endblock %}
