@import "~bootstrap/scss/bootstrap";
// -------------------------variable----------------
$fontSizeTitleMob: 1.66rem;
$fontSizeSmallTitleMob: 1.33rem;
$fontSizeTextMob: 1rem;
$fontSizeTitleDes: 2.5rem;
$fontSizeSmallTitleDes: 2rem;
$fontSizeText: 1.66rem;
$fontBold: semi-bold;
$backgroundNavMob: #BCD081;

* {
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
}

// -----------------------navbar---------------------
.pic-navbar {
    border-radius: 4.6875rem;
    width: 4.81556rem;
    height: 3.125rem;
}

.navbar-mobile {
    background-color: $backgroundNavMob;
}

.bi-person, .bi-card-image, .bi-list {
    margin: 0;
    padding: 0;
    font-size: 3.125rem;
}
