@import "~bootstrap/scss/bootstrap";
// -------------------------variable----------------
$fontSizeTitleMob: 1.5rem;
$fontSizeSmallTitleMob: 1.25rem;
$fontSizeTextMob: 1rem;
$fontSizeTitleDes: 1.875rem;
$fontSizeSmallTitleDes: 1.5rem;
$fontSizeText: 1.25rem;

$fontWeightText: 400;
$fontWeightTitleMob: 600;
$fontWeightSmallTitle: 600;
$fontWeightTitleDes: 700;

$backgroundNavMob: #BCD081;
$fontColorTilte: #3F1913;
$fontColorText: black;

$fontFamily: "Inter";
$fontStyleText: normal;
$lineHeightText: normal;

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

@mixin myText($fontFamily,
    $fontColorText,
    $fontSize,
    $fontStyle,
    $fontWeight,
    $lineHeight) {
    font-family: $fontFamily;
    color: $fontColorText;
    font-size: $fontSize;
    font-style: $fontStyle;
    font-weight: $fontWeight;
    line-height: $lineHeight;
}

// -----------------------navbar---------------------
.pic-navbar {
    border-radius: 4.6875rem;
    width: 4.81556rem;
    height: 3.125rem;
}

.navbar-mobile {
    background-color: $backgroundNavMob;
    height: 4rem;
    border-radius: 0.5rem;
}
.navbar-color {
    background-color: $backgroundNavMob;
    opacity: 85%;
}

.bi-person,
.bi-card-image,
.bi-list,
.bi-person-check,
.bi-power {
    margin: 0;
    padding: 0;
    font-size: 3.125rem;
}

// ---------------texte-------------------
h1 {
    @include myText(
        ($fontFamily),
        ($fontColorTilte),
        ($fontSizeTitleMob),
        ($fontStyleText),
        ($fontWeightTitleMob),
        ($lineHeightText)
    );

    @include media-breakpoint-up(md) {
        @include myText(
            ($fontFamily),
            ($fontColorTilte),
            ($fontSizeTitleDes),
            ($fontStyleText),
            ($fontWeightTitleDes),
            ($lineHeightText)
        );
    }
}

h2 {
    @include myText(
        ($fontFamily),
        ($fontColorTilte),
        ($fontSizeSmallTitleMob),
        ($fontStyleText),
        ($fontWeightSmallTitle),
        ($lineHeightText)
    );

    @include media-breakpoint-up(md) {
        @include myText(
            ($fontFamily),
            ($fontColorTilte),
            ($fontSizeSmallTitleDes),
            ($fontStyleText),
            ($fontWeightSmallTitle),
            ($lineHeightText)
        );
    }
}

p, .para {
    @include myText(
        ($fontFamily),
        ($fontColorText),
        ($fontSizeTextMob),
        ($fontStyleText),
        ($fontWeightText),
        ($lineHeightText)
    );

    @include media-breakpoint-up(md) {
        @include myText(
            ($fontFamily),
            ($fontColorTilte),
            ($fontSizeTextMob),
            ($fontStyleText),
            ($fontWeightText),
            ($lineHeightText)
        );
    }
}

// ----------------fond-----------------
.bg-fond {
    background-color: rgba(255, 255, 255, 0.75);
    background-attachment: scroll;
}

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100h;
}

// -----------logo------------------
.logo {
    width: 15.625rem;
    height: 15.04794rem;
    border-radius: 10.59375rem;
}

.petit-logo {
    width: 5rem;
    height: 4.8153rem;
    border-radius: 10.59375rem;
}
// ------------button---------
.button-cta {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 12.6875rem;
    height: 3.1875rem;
    border-radius: 1.5625rem;
    background: $backgroundNavMob;
    @include myText(
        ($fontFamily),
        ($fontColorTilte),
        ($fontSizeSmallTitleMob),
        ($fontStyleText),
        ($fontWeightSmallTitle),
        ($lineHeightText)
    );

    @include media-breakpoint-up(md) {
        width: 27.8125rem;
        display:flex;
        justify-content: center;
        align-items: center;
        @include myText(
            ($fontFamily),
            ($fontColorTilte),
            ($fontSizeSmallTitleDes),
            ($fontStyleText),
            ($fontWeightSmallTitle),
            ($lineHeightText)
        );
    }
}
.button-crud {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 3.1875rem;
    border-radius: 1.5625rem;
    background: $backgroundNavMob;
    @include myText(
        ($fontFamily),
        ($fontColorTilte),
        ($fontSizeSmallTitleMob),
        ($fontStyleText),
        ($fontWeightSmallTitle),
        ($lineHeightText)
    );

    @include media-breakpoint-up(md) {
        width: 10rem;
        display:flex;
        justify-content: center;
        align-items: center;
        @include myText(
            ($fontFamily),
            ($fontColorTilte),
            ($fontSizeSmallTitleDes),
            ($fontStyleText),
            ($fontWeightSmallTitle),
            ($lineHeightText)
        );
    }
}
// ------------------pagination--------------

.page,
.previous,
.next,
.last,
.first {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-family: $fontFamily;
    border-style: solid;
    border-width: 1px;

    a {
        color: $fontColorText;
        text-decoration: none;
    }

    &:hover {
        color: $fontColorTilte;
        background-color: $backgroundNavMob;
    }
}

.current {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-family: $fontFamily;
    background-color: $backgroundNavMob;
    color: $fontColorText;
    border-style: solid;
    border-width: 1px;
}

// ----------------------------form--------------------
label.required:before {
    content: "*";
    color: $red;
}
