{% for registration, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ registration }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
